.grid {
    width: 100%;
    margin: 0;
}

.map {
    height: 0;
    padding: 200px 0 56.25% 0;
}

.row {
    position: relative;
    width: 100%;
    padding: 10px 0;
    margin: 0 0 5px 0;
    background-color: #a98d5a;
    border-radius: 4px;
}

.row .for-fill {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #117bb8;
}

.altered-select-item {
    font-size: 1.2em;
    float: left;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    margin-top: 0.25em;
    margin-right: 2em;
    width: 100%;
}

.altered-select-item dt {
    padding-right: 0.5em;
    color: #666666 !important;
    margin-left: 0;
    text-transform: none;
    margin-bottom: 0.5em;
}

.option-select {
    width: 100%;
    font-size: 17px;
    line-height: 145%;
    color: rgb(34, 34, 34);
    border: 1px solid rgb(204, 204, 204);
    padding: 2px 4px;
}

.map-container h2 {
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
    margin: 5px 0 0 0;
}

.hidden { display: none; }

/* Make sure that the map has no padding */
.grid.by-county .cell.map-container { padding-right: 0; }
.grid.by-county .cell:last-of-type { padding-right: 1em; }


section.intro,
section.statewide,
section.by-county { margin-bottom: 2em; }

section.statewide { padding: 0 3em; }
section.by-county {
  background-color: rgb(240, 240, 240);
}

.race-data { margin-bottom: 1em; }
.race-data .vote span { color: white; }
.sidebar .race-data .vote { font-size: 0.75em; }
.race-data .vote .in-favor { padding-left: 0.75em; }
.race-data .vote .against { display: block; float: right; padding-right: 0.75em; }

.result-container .race-meta {
    font-size: 0.8em;
}

.race-meta { font-family: Helvetica, sans-serif; margin-bottom: 0.25em;}
.race-meta h3 {
  font-size: 1.2em;
  margin-bottom: 0.25em;
  font-style: italic;
}

.race-meta h3 small {
  font-size: 1.0em;
  color: #444;
  font-style: normal;
}

.sidebar .race-meta h3 small { display: none; }
.sidebar .race-meta span { display: block; }


section.statewide > h2 { margin-bottom: .5em; }
section.statewide > h2 > small { display: block; color: #333; font-weight: normal; }
section.statewide > h2,
section.by-county > h2 {
  text-align: center;
  width: 100%;
  font-size: 1.4em;
  font-weight: bold;
  font-family: Helvetica, sans-serif;
}

.location-selector,
.by-county .sidebar {
  padding: 1em;
}

.by-county .sidebar .summary {
  font-family: Helvetica;
}
.by-county .sidebar .summary h2 {
  font-size: 1.2em;
  text-transform: capitalize;
  font-weight: bold;
}

.summary table { width: 100%; }
.summary table th { font-weight: normal; font-style: italic; }
.summary table td { text-align: right; }


.location-selector div,
.location-selector select,
.location-selector input,
.location-selector button {
  width: 100%;
}

.location-selector div { text-align: center; margin-bottom: 0.5em;}

.filters {
  background-color: rgb(238, 238, 238);
  padding: 5px 8px;
  margin: 0 0 5px 0;
  border-radius: 4px;
}

.or-text {
  line-height: 28px;
  text-align: center;
}

.search {
    background-color: rgb(238, 238, 238);
    padding: 5px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
}

.form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}

.form-control {
    display: inline-block;
    width: 100%;
    height: 28px;
    padding: 3px 6px;
    font-size: 14px;
    line-height: 1.428571429;
    color: rgb(34, 34, 34);
    vertical-align: middle;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(146, 154, 163);
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -moz-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.form-control:focus {
    border-color: rgb(255, 204, 32);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 204, 32, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 204, 32, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 204, 32, 0.6);
}

.form-button {
    display: inline-block;
    font-family: inherit;
    padding: 3px 6px;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    text-transform: none;
    background-image: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.form-button-blue {
    color: rgb(34, 34, 34);
    background-color: rgb(68, 171, 223);
    border-color: rgb(62, 103, 176);
}

.form-button-slate {
    color: rgb(34, 34, 34);
    background-color: rgb(207, 204, 199);
    border-color: rgb(146, 154, 163);
}

header.title {
  padding-bottom: 0.25em;
  margin-bottom: 1.25em;
  border-bottom: 1px solid #999;
}

footer.meta a,
footer.meta { color: #999; }

footer.meta a { font-weight: normal; }
