.grid {
    width: 100%;
    margin: 0;
}

.map {
    height: 0;
    padding: 200px 0 56.25% 0;
}

.row {
    position: relative;
    width: 100%;
    padding: 10px 0;
    margin: 0 0 5px 0;
    background-color: #a98d5a;
    border-radius: 4px;
}

.row .for-fill {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #117bb8;
}

.altered-select-item {
    font-size: 1em;
    float: left;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    margin-top: 0.25em;
    margin-right: 2em;
}

.altered-select-item dt {
    padding-right: 0.5em;
    color: #666666 !important;
    margin-left: 0;
    text-transform: none;
    margin-bottom: 0.5em;
}

.option-select {
    font-size: 16px;
    color: #222 !important;
    width: 100%;
    margin: 0;
    padding: 0;
}


/* Make sure that the map has no padding */
.grid.by-county .cell.map-container { padding-right: 0; }
.grid.by-county .cell:last-of-type { padding-right: 1em; }


section.intro,
section.statewide,
section.by-county { margin-bottom: 2em; }

section.statewide { padding: 0 3em; }
section.by-county {
  padding-top: 1em;
  background-color: rgb(240, 240, 240);
}

section.statewide > h2,
section.by-county > h2 {
  text-align: center;
  width: 100%;
  font-size: 1.4em;
  font-weight: bold;
  font-family: Helvetica, sans-serif;
}

.location-selector,
.by-county .sidebar {
  padding: 1em;
}

.by-county .sidebar .summary {
  font-family: Helvetica;
}
.by-county .sidebar .summary h2 {
  font-size: 1.2em;
  text-transform: capitalize;
  font-weight: bold;
}

.summary table { width: 100%; }
.summary table th { font-weight: normal; font-style: italic; }
.summary table td { text-align: right; }


.location-selector div,
.location-selector select,
.location-selector input,
.location-selector button {
  width: 100%;
}

.location-selector div { text-align: center; margin-bottom: 0.5em;}
