.grid {
    width: 100%;
    margin: 0;
}

.map {
    height: 0;
    padding: 200px 0 56.25% 0;
}

.row {
    position: relative;
    width: 100%;
    padding: 10px 0;
    margin: 0 0 5px 0;
    background-color: #a98d5a;
    border-radius: 4px;
}

.row .for-fill {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #117bb8;
}

.altered-select-item {
    font-size: 1em;
    float: left;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    margin-top: 0.25em;
    margin-right: 2em;
}

.altered-select-item dt {
    padding-right: 0.5em;
    color: #666666 !important;
    margin-left: 0;
    text-transform: none;
    margin-bottom: 0.5em;
}

.option-select {
    font-size: 16px;
    color: #222 !important;
    width: 100%;
    margin: 0 0 10px 0;
    padding: 0;
}
