<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <title>Build Page</title>
  <link rel="stylesheet" href="//s3.amazonaws.com/static.texastribune.org/COMPRESSED/css/a05f7a3f3c31.css">
  <link rel="stylesheet" href="//s3.amazonaws.com/static.texastribune.org/common/fonts/fonts.css">
  <link rel="stylesheet" href="//api.tiles.mapbox.com/mapbox.js/v1.4.0/mapbox.css">
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="//api.tiles.mapbox.com/mapbox.js/v1.4.0/mapbox.ie.css" />
    <![endif]-->
  <link rel="stylesheet" href="css/style.css">
</head>
<body class="flatpage responsive">

<div class="wrapper content-wrapper">
<section id="site_content" class="content bare">
    <header class="title">
      <h1>2013 Constitutional Amendment Election Results</h1>
    </header>

    <section class="intro">
      <p class="prose">
        Texans approved nine amendments to the state constitution on
        Tuesday. Use the map below to see how they voted — statewide and by
        county — on each of those measures. Select a county by clicking on it or
        by finding it in the drop-down menu. The fate of each amendment — both
        in raw votes and in percentage — will appear adjacent to the map. The
        results and the map will be constantly updated with election returns
        reported by the Texas Secretary of State.
      </p>
    </section>

    <section class="statewide">
      <h2>
        Statewide Results
        <small></small>
      </h2>

    <div class="mapLegendContainer legendScale race-meta">
        <ul class="legendLabels">
          <li style="float:left; padding-right: 10px">
            <span style="background:#117bb8;"></span>Passing</li>
          <li>
            <span style="background:#a98d5a;"></span>Failing</li>
        </ul>
    </div>

    <div class='clear'></div>

      <div class="state-result-container" id="state-result-container"></div>
    </section>

    <section class="by-county">
      <div class="grid location-selector" id="location-selector">
            <dl class="altered-select-item">
                <dt style="text-align: center;">
                    Results by County <i class="icon-spinner icon-spin hidden" id="load-indicator"></i>
                </dt>

                <div class="geolocate" id="geolocate">
                    <form class="geo-search">
                        <div class="cell w-3">
                          <select id="county-select" class="option-select">
                            <option value="">Choose a county</option>
                            <option value="ANDERSON">Anderson County</option>
                            <option value="ANDREWS">Andrews County</option>
                            <option value="ANGELINA">Angelina County</option>
                            <option value="ARANSAS">Aransas County</option>
                            <option value="ARCHER">Archer County</option>
                            <option value="ARMSTRONG">Armstrong County</option>
                            <option value="ATASCOSA">Atascosa County</option>
                            <option value="AUSTIN">Austin County</option>
                            <option value="BAILEY">Bailey County</option>
                            <option value="BANDERA">Bandera County</option>
                            <option value="BASTROP">Bastrop County</option>
                            <option value="BAYLOR">Baylor County</option>
                            <option value="BEE">Bee County</option>
                            <option value="BELL">Bell County</option>
                            <option value="BEXAR">Bexar County</option>
                            <option value="BLANCO">Blanco County</option>
                            <option value="BORDEN">Borden County</option>
                            <option value="BOSQUE">Bosque County</option>
                            <option value="BOWIE">Bowie County</option>
                            <option value="BRAZORIA">Brazoria County</option>
                            <option value="BRAZOS">Brazos County</option>
                            <option value="BREWSTER">Brewster County</option>
                            <option value="BRISCOE">Briscoe County</option>
                            <option value="BROOKS">Brooks County</option>
                            <option value="BROWN">Brown County</option>
                            <option value="BURLESON">Burleson County</option>
                            <option value="BURNET">Burnet County</option>
                            <option value="CALDWELL">Caldwell County</option>
                            <option value="CALHOUN">Calhoun County</option>
                            <option value="CALLAHAN">Callahan County</option>
                            <option value="CAMERON">Cameron County</option>
                            <option value="CAMP">Camp County</option>
                            <option value="CARSON">Carson County</option>
                            <option value="CASS">Cass County</option>
                            <option value="CASTRO">Castro County</option>
                            <option value="CHAMBERS">Chambers County</option>
                            <option value="CHEROKEE">Cherokee County</option>
                            <option value="CHILDRESS">Childress County</option>
                            <option value="CLAY">Clay County</option>
                            <option value="COCHRAN">Cochran County</option>
                            <option value="COKE">Coke County</option>
                            <option value="COLEMAN">Coleman County</option>
                            <option value="COLLIN">Collin County</option>
                            <option value="COLLINGSWORTH">Collingsworth County</option>
                            <option value="COLORADO">Colorado County</option>
                            <option value="COMAL">Comal County</option>
                            <option value="COMANCHE">Comanche County</option>
                            <option value="CONCHO">Concho County</option>
                            <option value="COOKE">Cooke County</option>
                            <option value="CORYELL">Coryell County</option>
                            <option value="COTTLE">Cottle County</option>
                            <option value="CRANE">Crane County</option>
                            <option value="CROCKETT">Crockett County</option>
                            <option value="CROSBY">Crosby County</option>
                            <option value="CULBERSON">Culberson County</option>
                            <option value="DALLAM">Dallam County</option>
                            <option value="DALLAS">Dallas County</option>
                            <option value="DAWSON">Dawson County</option>
                            <option value="DEAF SMITH">Deaf Smith County</option>
                            <option value="DELTA">Delta County</option>
                            <option value="DENTON">Denton County</option>
                            <option value="DEWITT">Dewitt County</option>
                            <option value="DICKENS">Dickens County</option>
                            <option value="DIMMIT">Dimmit County</option>
                            <option value="DONLEY">Donley County</option>
                            <option value="DUVAL">Duval County</option>
                            <option value="EASTLAND">Eastland County</option>
                            <option value="ECTOR">Ector County</option>
                            <option value="EDWARDS">Edwards County</option>
                            <option value="ELLIS">Ellis County</option>
                            <option value="EL PASO">El Paso County</option>
                            <option value="ERATH">Erath County</option>
                            <option value="FALLS">Falls County</option>
                            <option value="FANNIN">Fannin County</option>
                            <option value="FAYETTE">Fayette County</option>
                            <option value="FISHER">Fisher County</option>
                            <option value="FLOYD">Floyd County</option>
                            <option value="FOARD">Foard County</option>
                            <option value="FORT BEND">Fort Bend County</option>
                            <option value="FRANKLIN">Franklin County</option>
                            <option value="FREESTONE">Freestone County</option>
                            <option value="FRIO">Frio County</option>
                            <option value="GAINES">Gaines County</option>
                            <option value="GALVESTON">Galveston County</option>
                            <option value="GARZA">Garza County</option>
                            <option value="GILLESPIE">Gillespie County</option>
                            <option value="GLASSCOCK">Glasscock County</option>
                            <option value="GOLIAD">Goliad County</option>
                            <option value="GONZALES">Gonzales County</option>
                            <option value="GRAY">Gray County</option>
                            <option value="GRAYSON">Grayson County</option>
                            <option value="GREGG">Gregg County</option>
                            <option value="GRIMES">Grimes County</option>
                            <option value="GUADALUPE">Guadalupe County</option>
                            <option value="HALE">Hale County</option>
                            <option value="HALL">Hall County</option>
                            <option value="HAMILTON">Hamilton County</option>
                            <option value="HANSFORD">Hansford County</option>
                            <option value="HARDEMAN">Hardeman County</option>
                            <option value="HARDIN">Hardin County</option>
                            <option value="HARRIS">Harris County</option>
                            <option value="HARRISON">Harrison County</option>
                            <option value="HARTLEY">Hartley County</option>
                            <option value="HASKELL">Haskell County</option>
                            <option value="HAYS">Hays County</option>
                            <option value="HEMPHILL">Hemphill County</option>
                            <option value="HENDERSON">Henderson County</option>
                            <option value="HIDALGO">Hidalgo County</option>
                            <option value="HILL">Hill County</option>
                            <option value="HOCKLEY">Hockley County</option>
                            <option value="HOOD">Hood County</option>
                            <option value="HOPKINS">Hopkins County</option>
                            <option value="HOUSTON">Houston County</option>
                            <option value="HOWARD">Howard County</option>
                            <option value="HUDSPETH">Hudspeth County</option>
                            <option value="HUNT">Hunt County</option>
                            <option value="HUTCHINSON">Hutchinson County</option>
                            <option value="IRION">Irion County</option>
                            <option value="JACK">Jack County</option>
                            <option value="JACKSON">Jackson County</option>
                            <option value="JASPER">Jasper County</option>
                            <option value="JEFF DAVIS">Jeff Davis County</option>
                            <option value="JEFFERSON">Jefferson County</option>
                            <option value="JIM HOGG">Jim Hogg County</option>
                            <option value="JIM WELLS">Jim Wells County</option>
                            <option value="JOHNSON">Johnson County</option>
                            <option value="JONES">Jones County</option>
                            <option value="KARNES">Karnes County</option>
                            <option value="KAUFMAN">Kaufman County</option>
                            <option value="KENDALL">Kendall County</option>
                            <option value="KENEDY">Kenedy County</option>
                            <option value="KENT">Kent County</option>
                            <option value="KERR">Kerr County</option>
                            <option value="KIMBLE">Kimble County</option>
                            <option value="KING">King County</option>
                            <option value="KINNEY">Kinney County</option>
                            <option value="KLEBERG">Kleberg County</option>
                            <option value="KNOX">Knox County</option>
                            <option value="LAMAR">Lamar County</option>
                            <option value="LAMB">Lamb County</option>
                            <option value="LAMPASAS">Lampasas County</option>
                            <option value="LASALLE">Lasalle County</option>
                            <option value="LAVACA">Lavaca County</option>
                            <option value="LEE">Lee County</option>
                            <option value="LEON">Leon County</option>
                            <option value="LIBERTY">Liberty County</option>
                            <option value="LIMESTONE">Limestone County</option>
                            <option value="LIPSCOMB">Lipscomb County</option>
                            <option value="LIVE OAK">Live Oak County</option>
                            <option value="LLANO">Llano County</option>
                            <option value="LOVING">Loving County</option>
                            <option value="LUBBOCK">Lubbock County</option>
                            <option value="LYNN">Lynn County</option>
                            <option value="MADISON">Madison County</option>
                            <option value="MARION">Marion County</option>
                            <option value="MARTIN">Martin County</option>
                            <option value="MASON">Mason County</option>
                            <option value="MATAGORDA">Matagorda County</option>
                            <option value="MAVERICK">Maverick County</option>
                            <option value="MCCULLOCH">Mcculloch County</option>
                            <option value="MCLENNAN">Mclennan County</option>
                            <option value="MCMULLEN">Mcmullen County</option>
                            <option value="MEDINA">Medina County</option>
                            <option value="MENARD">Menard County</option>
                            <option value="MIDLAND">Midland County</option>
                            <option value="MILAM">Milam County</option>
                            <option value="MILLS">Mills County</option>
                            <option value="MITCHELL">Mitchell County</option>
                            <option value="MONTAGUE">Montague County</option>
                            <option value="MONTGOMERY">Montgomery County</option>
                            <option value="MOORE">Moore County</option>
                            <option value="MORRIS">Morris County</option>
                            <option value="MOTLEY">Motley County</option>
                            <option value="NACOGDOCHES">Nacogdoches County</option>
                            <option value="NAVARRO">Navarro County</option>
                            <option value="NEWTON">Newton County</option>
                            <option value="NOLAN">Nolan County</option>
                            <option value="NUECES">Nueces County</option>
                            <option value="OCHILTREE">Ochiltree County</option>
                            <option value="OLDHAM">Oldham County</option>
                            <option value="ORANGE">Orange County</option>
                            <option value="PALO PINTO">Palo Pinto County</option>
                            <option value="PANOLA">Panola County</option>
                            <option value="PARKER">Parker County</option>
                            <option value="PARMER">Parmer County</option>
                            <option value="PECOS">Pecos County</option>
                            <option value="POLK">Polk County</option>
                            <option value="POTTER">Potter County</option>
                            <option value="PRESIDIO">Presidio County</option>
                            <option value="RAINS">Rains County</option>
                            <option value="RANDALL">Randall County</option>
                            <option value="REAGAN">Reagan County</option>
                            <option value="REAL">Real County</option>
                            <option value="RED RIVER">Red River County</option>
                            <option value="REEVES">Reeves County</option>
                            <option value="REFUGIO">Refugio County</option>
                            <option value="ROBERTS">Roberts County</option>
                            <option value="ROBERTSON">Robertson County</option>
                            <option value="ROCKWALL">Rockwall County</option>
                            <option value="RUNNELS">Runnels County</option>
                            <option value="RUSK">Rusk County</option>
                            <option value="SABINE">Sabine County</option>
                            <option value="SAN AUGUSTINE">San Augustine County</option>
                            <option value="SAN JACINTO">San Jacinto County</option>
                            <option value="SAN PATRICIO">San Patricio County</option>
                            <option value="SAN SABA">San Saba County</option>
                            <option value="SCHLEICHER">Schleicher County</option>
                            <option value="SCURRY">Scurry County</option>
                            <option value="SHACKELFORD">Shackelford County</option>
                            <option value="SHELBY">Shelby County</option>
                            <option value="SHERMAN">Sherman County</option>
                            <option value="SMITH">Smith County</option>
                            <option value="SOMERVELL">Somervell County</option>
                            <option value="STARR">Starr County</option>
                            <option value="STEPHENS">Stephens County</option>
                            <option value="STERLING">Sterling County</option>
                            <option value="STONEWALL">Stonewall County</option>
                            <option value="SUTTON">Sutton County</option>
                            <option value="SWISHER">Swisher County</option>
                            <option value="TARRANT">Tarrant County</option>
                            <option value="TAYLOR">Taylor County</option>
                            <option value="TERRELL">Terrell County</option>
                            <option value="TERRY">Terry County</option>
                            <option value="THROCKMORTON">Throckmorton County</option>
                            <option value="TITUS">Titus County</option>
                            <option value="TOM GREEN">Tom Green County</option>
                            <option value="TRAVIS">Travis County</option>
                            <option value="TRINITY">Trinity County</option>
                            <option value="TYLER">Tyler County</option>
                            <option value="UPSHUR">Upshur County</option>
                            <option value="UPTON">Upton County</option>
                            <option value="UVALDE">Uvalde County</option>
                            <option value="VAL VERDE">Val Verde County</option>
                            <option value="VAN ZANDT">Van Zandt County</option>
                            <option value="VICTORIA">Victoria County</option>
                            <option value="WALKER">Walker County</option>
                            <option value="WALLER">Waller County</option>
                            <option value="WARD">Ward County</option>
                            <option value="WASHINGTON">Washington County</option>
                            <option value="WEBB">Webb County</option>
                            <option value="WHARTON">Wharton County</option>
                            <option value="WHEELER">Wheeler County</option>
                            <option value="WICHITA">Wichita County</option>
                            <option value="WILBARGER">Wilbarger County</option>
                            <option value="WILLACY">Willacy County</option>
                            <option value="WILLIAMSON">Williamson County</option>
                            <option value="WILSON">Wilson County</option>
                            <option value="WINKLER">Winkler County</option>
                            <option value="WISE">Wise County</option>
                            <option value="WOOD">Wood County</option>
                            <option value="YOAKUM">Yoakum County</option>
                            <option value="YOUNG">Young County</option>
                            <option value="ZAPATA">Zapata County</option>
                            <option value="ZAVALA">Zavala County</option>
                          </select>
                        </div>
                        <div class="cell w-2 form-group">
                            <button type="button" class="form-button form-button-blue find-me" id="find-me">Find me</button>
                        </div>
                        <div class="cell w-1 or-text">
                            or
                        </div>
                        <div class="cell w-4 form-group">
                            <input type="text" class="form-control" placeholder="Insert address OR ZIP Code">
                        </div>
                        <div class="cell w-2 form-group">
                            <button type="submit" class="form-button form-button-slate search" id="search">Search</button>
                        </div>
                    </form>
                </div>
            </dl>
      </div>

      <div class="grid by-county">
        <div class="cell w-9 map-container">
            <div class="map" id="map"></div>
            <h2>Proposition 6 Results</h2>
        </div>

        <div class="cell w-3 sidebar">
          <div class="result-container" id="result-container"></div>
        </div>
      </div>


    </section>


    <footer class="meta">
      <div class="source">
        <strong>Source</strong> <a href="http://www.sos.state.tx.us/">Texas Secretary of State</a>
      </div>

      <div class="built-by">
        <strong>Built by</strong>
        <a href="http://www.texastribune.org/about/staff/ryan-murphy/">Ryan Murphy</a>,
        <a href="http://www.texastribune.org/about/staff/tswicegood/">Travis Swicegood</a>,
        and Dan Hill
      </div>
    </footer>

    <div class="grid">
    </div>

    <script type="text/template" id="result-header-template">
      <div class="summary">
        <h2><%= county %></h2>

        <table class="tt-table">
          <tr>
            <th>Precincts Reporting</th>
            <td><%= commas(precincts_reported) %>/<%= commas(total_precincts) %></td>
          </tr>

          <tr>
            <th>Total Votes</th>
            <td><%= commas(total_votes) %></td>
          </tr>
        </table>
      </div>
    </script>

    <script type="text/template" id="result-template">
      <div class="race-data">
        <div class="race-meta">
          <h3>
            <%= race %>
            <small><%= this.model.getRaceDescription() %></small>
          </h3>
          <span class="total">Total Votes <%= commas(this.model.get('total_votes')) %></span>
          (For: <%= commas(this.model.get('in_favor')) %> / Against: <%= commas(this.model.get('against')) %>)
        </div>

        <div class="row vote">
          <div class="for-fill" style="width: <%= this.model.getPercentageFor() %>%;">
            <span class="in-favor"><%= this.model.getPercentageForDisplay() %>%</span>
          </div>
          <span class="against"><%= this.model.getPercentageAgainstDisplay() %>%</span>
          &nbsp;
        </div>
      </div>
    </script>

</section>
</div>

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="https://s3.amazonaws.com/static.texastribune.org/common/vendor/jquery/1.7.2/jquery.min.js"><\/script>')</script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
<script>window.jQuery.ui || document.write('<script src="https://s3.amazonaws.com/static.texastribune.org/common/vendor/jqueryui/jquery-ui-1.8.18.min.js"><\/script>')</script>
<script src="https://s3.amazonaws.com/static.texastribune.org/common/vendor/modernizr/modernizr.min.js"></script>

<!-- mapping -->
<script src="//api.tiles.mapbox.com/mapbox.js/v1.4.0/mapbox.js"></script>

<!-- backbone -->
<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.1.0/lodash.underscore.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>

<!-- data -->
<script src="data/counties.js"></script>

<script src="js/script.js"></script>
</body>
</html>
